{{ define "main" }}
<article>
    <div class="h-full sm:flex">
        <div
            class="m-auto w-full 2xl:w-2/6 flex flex-col gap-4 lg:gap-16 bg-blue-700 p-4 text-white"
        >
            <div class="text-4xl m-auto p-4 basis-1/8 font-syne">
                <a class="h-card" href="https://genthus.art" rel="me">
                {{ with $image := resources.GetMatch "images/pfp.png"}}
                {{ $image := $image.Fit "100x100" }}
                    <img 
                        src="{{ $image.RelPermalink }}"
                        width="{{ $image.Width }}"
                        height="{{ $image.Height }}"
                    />
                Genthus
                {{ end }}
                </a>
                <h2 class="text-2xl">
                    Digital illustrator
                </h2>
            </div>
            <div class="m-auto w-full flex flex-col text-2xl gap-2">
                <a
                    href="/commissions"
                    class="m-auto bg-gray-950 p-4 w-full border-2 border-white text-white transition duration-150 hover:bg-pink-500"
                >Commissions</a
                >
                <a
                    href="/blog"
                    class="m-auto bg-gray-950 p-4 w-full border-2 border-white text-white transition duration-150 hover:bg-pink-500"
                >Blog</a
                >
                <a
                    href="/about"
                    class="m-auto bg-gray-950 p-4 w-full border-2 border-white text-white transition duration-150 hover:bg-pink-500"
                >About</a
                >
            </div>
            <div>
                {{ .Content }}
            </div>
            <p class="m-4 p-2 text-sm bg-gray-950">
                This website is still under construction, some things might look weird.
            </p>
        </div>
        <div
            class="h-full sm:h-screen w-full xl:w-auto xl:grow bg-gradient-to-br from-blue-700 to-blue-900 sm:overflow-auto"
        >
            <div class="columns-2xs sm:columns-sm lg:columns:xs gap-2 p-4">
                {{ range resources.Match "portfolio/*"}}
                <img
                    src="{{ .RelPermalink }}"
                    width="{{ .Width }}"
                    height="{{ .Height }}"
                    class="place-self-center m-auto p-2"
                />
                {{ end }}
            </div>
        </div>
    </div>
</article>

<script>
var copy_text_val = document.getElementById("discord");

function CopyDisc() {
    navigator.clipboard.writeText(copy_text_val.innerHTML);
    alert("copied to clipboard");
}                         

function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /* Loop through a collection of all HTML elements: */
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /* Make an HTTP request using the attribute value as the file name: */
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /* Remove the attribute, and call this function once more: */
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /* Exit the function: */
      return;
    }
  }
}
includeHTML()
</script>
{{ end }}
