
            <ul class="basis-3/6 m-auto w-5/6 flex flex-col gap-2">
                <li>
                    <a
                        href="https://patreon.com/genthus"
                        class="flex justify-between p-4 pr-8 transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                        {{ with $image := resources.GetMatch "images/patreon.png" }} {{
                        $image := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label class="text-xl"> Patreon </label>
                    </a>
                </li>
                <li>
                    <a
                        href="hettps://genthus.fanbox.cc"
                        class="flex justify-between p-4 pr-8 transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/fanbox.png" }} {{
                        $image := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label class="text-xl"> Pixiv Fanbox </label>
                    </a>
                </li>
                <li>
                    <a
                        href="https://subscribestar.adult/genthus"
                        class="flex justify-between p-4 pr-8 transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/subscribestar.png" }} {{
                        $image := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label class="text-xl"> SubscribeStar </label>
                    </a>
                </li>
                <li>
                    <a
                        href="https://twitter.com/genthus_"
                        class="flex justify-between p-4 pr-8 transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/twitter.png" }} {{
                        $image := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label class="text-xl"> Twitter </label>
                    </a>
                </li>
                <li>
                    <a
                        href="https://bsky.app/profile/genthus.art"
                        class="flex justify-between p-4 pr-8 transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/bsky.png" }} {{
                        $image := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label class="text-xl"> BlueSky </label>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.pixiv.net/en/users/61808993"
                        class="flex justify-between p-4 pr-8 transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/pixiv.png" }} {{ $image
                        := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label class="text-xl"> Pixiv </label>
                    </a>
                </li>
                <li>
                    <a
                        href="https://twitch.tv/genthus_"
                        class="flex justify-between p-4 pr-8 transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/twitch.png" }} {{
                        $image := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label class="text-xl"> Twitch </label>
                    </a>
                </li>
                <li>
                    <div
                        class="flex justify-between p-4 pr-8 text-xl copy_text transition duration-150 bg-gray-950 hover:bg-pink-500"
                        onclick="CopyDisc()"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/discord.png" }} {{
                        $image := $image.Fit "40x30" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            width="{{ $image.Width }}"
                            height="{{ $image.Height }}"
                        />
                        {{ end }}
                        <label id="discord">genthus</label>
                    </div>
                </li>
                <li>
                    <a
                        href="mailto:contact@genthus.art"
                        class="flex justify-between p-4 pr-8 text-xl copy_text transition duration-150 bg-gray-950 hover:bg-pink-500"
                        rel="me"
                    >
                    >
                        {{ with $image := resources.GetMatch "images/mail.svg" }}
                        <img
                            src="{{ $image.RelPermalink }}"
                            fill="white"
                            width="30"
                            height="30"
                        />
                        {{ end }}
                        <label>contact@genthus.art</label>
                    </a>
                </li>
            </ul>
